.venv/
checkpoints/*.pth
.env
__pycache__/
*.pyc
paper_logs
logs
rag_ablation_logs
data_size_ablation_logs
correction_pipeline_logs
comparisons
evaluation_reports
venv
checkpoints
idle.py
setenv.sh
test.py
*.out
all_logs
datasets
*.bash